/* Add your block style here */
.dark .custom-button {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.7rem;
    font-size: 0.77rem;
    font-weight: 500;
    color: rgb(158, 163, 175) !important; /* 设置默认字体颜色 */
    background-color: rgb(34, 41, 55); /* 按钮背景颜色 */
    border: 1px solid rgb(158, 163, 175); /* 按钮边框 */
    border-radius: 0.4rem; /* 圆角 */
    transition: background-color 0.1s ease, color 0.1s ease;
    margin-top: 20px; /* 与上方block的距离 */
}

.dark .custom-button:hover {
background-color: rgb(58, 65, 81); /* 悬停时的背景颜色 */
color: white !important; /* 悬停时文字颜色，确保优先级 */
text-decoration: none; /* 移除默认下划线 */
}

.dark .custom-button svg {
margin-left: 0.05rem;
margin-right: 0.5rem;
margin-top: -0.1rem;
width: 0.8rem;
height: 0.8rem;
fill: rgb(158, 163, 175); /* 初始 SVG 颜色 */
transition: fill 0.1s; /* 过渡效果 */
}

.dark .custom-button:hover svg {
fill: white; /* 悬停时 SVG 图标颜色 */
}


.custom-button {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.7rem;
    font-size: 0.77rem;
    font-weight: 500;
    color: rgb(60, 65, 77) !important; /* 设置默认字体颜色 */
    background-color: white; /* 按钮背景颜色 */
    border: 1px solid rgb(34, 41, 55); /* 按钮边框 */
    border-radius: 0.4rem; /* 圆角 */
    transition: background-color 0.1s ease, color 0.1s ease;
    margin-top: 20px; /* 与上方block的距离 */
}

.custom-button:hover {
    background-color: rgb(234, 238, 246); /* 悬停时的背景颜色 */
    color: black !important; /* 悬停时文字颜色，确保优先级 */
    text-decoration: none; /* 移除默认下划线 */
}

.custom-button svg {
margin-left: 0.05rem;
margin-right: 0.5rem;
margin-top: -0.1rem;
width: 0.8rem;
height: 0.8rem;
fill: rgb(94, 101, 114); /* 初始 SVG 颜色 */
transition: fill 0.1s; /* 过渡效果 */
}

.custom-button:hover svg {
fill: black; /* 悬停时 SVG 图标颜色 */
}
